* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: 16px Helvetica;
  background: #4f426a;
}

.form {
  width: 275px;
  background: #ecf0f1;
  padding: 0 30px 30px 30px;
  margin: 200px auto;
  text-align: center;
  border-radius: 5px;
}

span {
  display: block;
  position: relative;
  margin: 0 auto;
  top: -40px;
  height: 80px;
  width: 80px;
  background: center center no-repeat, white;
  border-radius: 90%;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
img {
  margin-top: 15px;
  height: 50px;
  width: 50px;
}

input {
  width: 100%;
  background: #bdc3c7;
  border: none;
  height: 30px;
  margin-bottom: 15px;
  border-radius: 5px;
  padding-left: 5px;
  font-size: 14px;
  color: #7f8c8d;
  color: black;
}
.inputField:focus {
  outline: none;
}

button {
  width: 100%;
  height: 30px;
  border: none;
  background: #3498db;
  color: #ecf0f1;
  font-weight: 100;
  padding-top: 3px;
  margin-bottom: 15px;
  border-radius: 5px;
  transition: all ease-in-out 0.2s;
  border-bottom: 3px solid #2980b9;
}

button:focus {
  outline: none;
}

button:hover {
  background: #2980b9;
}

h2 {
  font-size: 0.75em;
}

a {
  color: #e74c3c;
  text-decoration: none;
  transition: all ease-in-out 0.2s;
}

a:hover {
  color: #c0392b;
}
